.navbar {
    background-image: linear-gradient(rgb(82, 82, 82), black);
  }
  
  .nav-link,
  .navbar-brand {
    color: #fff;
  }

  .nav-link:focus,
  .navbar-brand:focus {
    color: #fff;
  }

  .nav-link:hover,
  .navbar-brand:hover {
    color: rgb(100, 100, 100);
  }
  
  .navbar-collapse {
    justify-content: flex-end;
  }
  
  .footer {
    background-color: #000;
    color: #fff;
  }

  li {
    font-size: 20px;
  }

  .logo {
    width: 50px;
    margin-left: 15px;
  }

  .space {
    margin-top: 90px;
    margin-bottom: 80px;
  }

  .text {
    font-size: 20px;
  }

  .bg_gray {
    background-color: rgb(216, 215, 215);
  }

  .normal {
    text-decoration: none;
  }

  .normal:hover {
    color: blue;
  }

  .higher {
    height: 700px;
  }


  .ranPics {
        padding: 20px;
        width: 400px;
  }

  
  